@page "/movies/edit/{MovieId:int}"
@page "/movies/edit/{MovieId:int}/{MovieName}"
            ""
<h3>EditMovie</h3>

@code {
    [Parameter] public int MovieId { get; set; }
    [Parameter] public string MovieName { get; set; }
}
