@inject IJSRuntime  js

<input type="checkbox" @bind="displayButtons" />
<GenericList List="Movies">
    <ElementTemplate>
        <div>
            <IndividualMovie Movie="context" DisplayButtons="displayButtons" DeleteMovie="DeleteMovie" />
        </div>
    </ElementTemplate>
</GenericList>

@code {
    [Parameter] public List<Movie> Movies { get; set; }

    bool displayButtons = false;

    private async Task DeleteMovie(Movie movie)
    {

        await js.MyFunction("Message from DeleteMovie");
        @*var confirmed = await js.InvokeAsync<bool>("confirm", $"Are you sure to delete {movie.Title}?");*@

        //This works because of the custom helper class BlazorMovies.Client.Helpers.IJSRuntimeExtensionMethods. The whole "Helpers" package is included in the _Imports.razor file 
        var confirmed = await js.Confirm($"Are you sure to delete {movie.Title}?");

        if (confirmed)
        {
            Movies.Remove(movie);
        }

    }
}
