@inject IJSRuntime  js

    <div class="movies-container">
        <GenericList List="Movies">
            <ElementTemplate Context="movie">
                <div>
                    <IndividualMovie Movie="movie" DeleteMovie="DeleteMovie" />
                </div>
            </ElementTemplate>
        </GenericList>
    </div>







@code {
    [Parameter] public List<Movie> Movies { get; set; }
    
    

    private async Task DeleteMovie(Movie movie)
    {

        await js.MyFunction("Message from DeleteMovie");
        var confirmed = await js.InvokeAsync<bool>("confirm", $"Are you sure to delete {movie.Title}?");

        //This works because of the custom helper class BlazorMovies.Client.Helpers.IJSRuntimeExtensionMethods.The whole "Helpers" package is included in the _Imports.razor file
        //var confirmed = await js.Confirm($"Are you sure to delete {movie.Title}?");

        if (confirmed)
        {
            Movies.Remove(movie);
        }

    }

}
